body {
    height: 100vh;
    width: 100vw;
}

.container {
    display: flex;
    justify-content: stretch;
    column-gap: 5px;
}

/* man be hon 600px */
@media screen and (max-width:600px) {
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        row-gap: 5px;
    }

    .form, .data {
        flex: 1 0 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding: 5px;
        background-color: cornflowerblue;
    }

}


.form, .data {
    flex: 1 0 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* align-content: flex-start; */
    /* justify-content: center; */
    flex-wrap: wrap;
    padding: 5px;

    background-color: cornflowerblue;
}

.data {
    background-color: bisque;
}

.divider {
    background-color: black;
    height: 1px;
    width: 100%;
}

.form__header, .data__header {
    font-size: 30px;
    font-weight: bold;
    margin: 5px;
    /* border-bottom: 1px solid black; */
}

.form__content {
    margin: 5vmin;
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    width: 80%;
}

.form__content>div {
    display: flex;
    column-gap: 5px;
    font-size: 15px;
}

.form__content>div>label, .form__content>div>input {
    flex: 1 0 50px;
}

.form__content>div>input, .form__content>div>select, .form__content__message textarea {
    border-radius: 3px;
    border: none;
}

.form__content__message textarea {
    resize: none;
}

.form__content__submit input {
    padding: 10px;
    background-color: white;
}

.form__content__submit input:hover {
    padding: 10px;
    color: white;
    background-color: black;
    transition: 500ms;
}

.asterisk {
    position: absolute;
    left: 80px;
    margin-top: -5px;
    color: red;
    font-size: 10px;
}

.form__content__validator {
    visibility: hidden;
    color: red;
}

.data__content {
    margin: 5vmin;
}

.data__content__table, .data__content__table th, .data__content__table td {
    font-size: 10px;
    border: 1px solid black;
    border-collapse: collapse;
}

.data__content__table {
    width: 100%;
    overflow: auto;
}